@font-face {
  font-family: "icomoon";
  // src: url('../../assets/fonts/icomoon.eot?rdd0lm');
  src: url("../../fonts/icomoon.eot");

  src: url("../../fonts/icomoon.eot?rdd0lm#iefix") format("embedded-opentype"),
    url("../../fonts/icomoon.ttf?rdd0lm") format("truetype"), url("../../fonts/icomoon.woff?rdd0lm") format("woff"),
    url("../../fonts/icomoon.svg?rdd0lm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e901";
}

.icon-map:before {
  content: "\e902";
}

.icon-star:before {
  content: "\e903";
}

.icon-trophy:before {
  content: "\e904";
}

.icon-user:before {
  content: "\e905";
}

.icon-account:before {
  content: "\e907";
}

.icon-angle-down:before {
  content: "\e908";
}

.icon-calendar:before {
  content: "\e909";
}

.icon-call:before {
  content: "\e90c";
}

.icon-chat:before {
  content: "\e90d";
}

.icon-credit-card:before {
  content: "\e90f";
}

.icon-dollar:before {
  content: "\e911";
}

.icon-double-angle-right:before {
  content: "\e912";
}

.icon-envelope:before {
  content: "\e913";
}

.icon-right-arrow-angle:before {
  content: "\e900";
}

.icon-down-arrow:before {
  content: "\e90b";
}

.icon-location:before {
  content: "\e90e";
}

.icon-delete:before {
  content: "\e910";
}

.icon-search:before {
  content: "\e906";
}

.icon-arrow-left:before {
  content: "\e90a";
}

body {
  color: #505050;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.text-primary {
  color: #fdd464 !important;
}

.text-rank{
  text-transform: uppercase;
  color: #196084 !important;
}

.bg-primary {
  background: #fdd464;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 40px;
  border-radius: 30px;
  transition: 0.3s all;
}
.btn:hover{
cursor: pointer;
}


.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  background: #2d80aa;
  border: 1px solid #2d80aa;
}

.btn-secondary {
  color: #001b29;
  background: #f6cf63;
  border: 1px solid #f6cf63;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #001b29;
  background: #f6cf63;
  border: 1px solid #f6cf63;
  box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background: #2d80aa;
  border: 1px solid #2d80aa;
  box-shadow: none;
}

/* Header */

header {
  background: #001b29;
}

header img {
  max-width: 200px;
}

header .navbar-light .navbar-nav.navbar-center .active > .nav-link,
header .navbar-light .navbar-nav.navbar-center .nav-item:hover .nav-link {
  color: #f6cf63;
  /*border-bottom: 3px solid #F6CF63;*/
  padding: 25px 0px 20px;
}

header .navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  padding: 25px 0px 20px;
  position: relative;
}
header .navbar-light .navbar-nav .nav-link:hover{
  cursor: pointer;
}

.market-place .card,
.load-more .card {
  display: none;
}

.market-place .card.display,
.load-more .card.display {
  display: block;
}

header .navbar-light .navbar-nav .nav-item {
  padding: 0 25px;
}

header span {
  color: #f6cf63;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
/* Noty */
.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  background: #DAEDD2;
  color: darkseagreen;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.select-form-before{
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2D80AA transparent transparent transparent;
}
.select-form-before{
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2D80AA transparent transparent transparent;
}
.select-form-after{
  position: absolute;
  content: "";
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: transparent transparent #2D80AA transparent;
  top: 14px;
}
// .select-selected.select-arrow-active:after {
//   border-color: transparent transparent #2D80AA transparent;
//   top: 14px;
// }
// .select-selected:after {
//   position: absolute;
//   content: "";
//   top: 22px;
//   right: 10px;
//   width: 0;
//   height: 0;
//   border: 6px solid transparent;
//   border-color: #2D80AA transparent transparent transparent;
// }

/* Slider */
.rc-slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: context-menu !important;
    cursor: -webkit-grab;
    margin-top: -5px;
    cursor: grab;
    border-radius: 50%;
    border: solid 2px #96dbfa;
    background-color: #fff;
    touch-action: pan-x;
    border: #f6cf63 !important;
    background: #f6cf63 !important;
    outline: none;
    box-shadow: none;
    border-radius: 0px !important;
    top: 5%;
  }
  .rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0px !important;
    outline: none;
    background: #2d80aa !important;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  border: 1px solid #2d80aa;
  border-radius: 0px !important;
  outline: none;
  background: #2d80aa !important;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #57c5f7;
  box-shadow: 0 0 0px !important;
}
.rc-slider-label{
  margin-top: -18px !important;
font-family: inherit ;
}
.rc-slider-handle:active {
  border-color: #57c5f7;
  box-shadow: 0 0 0px !important;
  cursor: grabbing;
}
/* Banner section */
.section-background-image {
  background-image: url(../../images/lol-accounts.jpg) !important ;
}
.section-background-login-image {
  background-image: url(../../images/login.png) !important ;
}
.section-background-signup-image {
  background-image: url(../../images/signup.png) !important ;
}
.section-background-password-image {
  background-image: url(../../images/password.png) !important ;
}

.wow {
  visibility: visible !important;
  animation-name: fadeInUp !important;
}

.banner-section {
  background-image: radial-gradient(#001b2994, #001b29b3), url(../../images/banner.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  padding: 200px 0;
  color: #fff;
}

.banner-section h1 {
  font-family: "Playfair Display", serif;
  font-size: 66px;
  text-transform: uppercase;
  line-height: 72px;
  font-weight: 600;
  margin-left: -1px;
}
.banner-section p {
 
  margin-left: -1px;
}
.banner-section h1 span {
  font-size: 98px;
  font-weight: 900;
}

.banner-section .icon-angle-down {
  font-size: 35px;
  color: #6d6e70;
  font-weight: 700;
  margin-top: 30px;
}
.banner-section .icon-angle-down:hover{
  cursor: pointer;
}

/* Our Services */

.our-services {
  padding: 60px 0;
}

.our-services h2 {
  color: #18506c;
  font-size: 50px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.our-services .service-block-icon {
  width: 100px;
  height: 100px;
  transition: all 0.5s ease 0s;
  color: #fff;
  background: #246d91;
  background-image: linear-gradient(#3ca4d8, #1a5573);
  border-radius: 50%;
  padding: 22px;
  margin: 15px auto;
}

.our-services .service-block-icon span {
  font-weight: 600;
  font-size: 18px;
}

.our-services .service-block-icon i {
  font-size: 30px;
  color: #cda64f;
}

.service-block h3 {
  color: #23698c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-block p {
  font-size: 14px;
  max-width: 300px;
  margin: 0px auto;
}

.our-services .service-block:hover .service-block-icon {
  transform: scale(1.1);
}

/* History Section */

.history-section {
  background-image: url("../../images/history.jpg");

  background-size: cover;
  background-position: center;
  padding: 40px 0;
  color: #fff;
}

.history-section h3 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  margin-bottom: 25px;
}

.history-section ul {
  display: grid;
  grid-gap: 30px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.history-section ul li {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.history-section ul li:hover {
  background: #18506cc2;
}

.history-section ul li h5 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0;
}

.history-section ul li p {
  margin-bottom: 0px;
}

/* Top Rated Section */

.account-section {
  padding: 60px 0;
}

.account-section h2 {
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 50px;
  color: #18506c;
}

.account-section .card {
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.2s all;
}

.account-section .card:hover .overlayer {
  opacity: 0.9;
}

.account-section .overlayer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  border-radius: 8px;
  top: 0;
  background-color: rgba(50, 124, 160, 30%);
  z-index: 8;
  transition: all 0.2s ease-out;
  opacity: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.account-section .overlayer:hover {
  opacity: 0.8;
}
.account-section .overlayer .btn-secondary {
  text-transform: uppercase;
  padding: 8px 55px;
}

.account-section .overlayer .btn-secondary:hover {
  color: #fff;
  background: #001b29;
  border: 1px solid #001b29;
}

.account-section .overlayer .inner-cnt {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-46%);
}

.account-section .overlayer .inner-cnt .wrap-link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}

.account-section .overlayer .inner-cnt .wrap-date {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 40px 0 0;
  margin: 0;
}

.account-section .overlayer .inner-cnt .wrap-date .label {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: default;
}

.account-section .overlayer .inner-cnt .wrap-date .date {
  display: block;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  color: #fff;
  padding: 10px 0 0;
  margin: 0;
  cursor: default;
}

.account-section .card:hover {
  box-shadow: 0 5px 20px #00000014;
}

.account-section .card-img-top {
  border-radius: 10px 10px 0 0;
  height: 180px;
  object-fit: cover;
}

.account-section .card .rating-detail {
  border-bottom: 1px solid #d4d2d2;
  background-image: linear-gradient(#f1f1f1, #fff);
}

.account-section .card .rating-detail li {
  border-right: 1px solid #d4d2d2;
  padding: 12px 2px 8px;
  text-align: center;
  width: 33.33%;
}

.account-section .card .rating-detail li p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #18506c;
  margin-bottom: 0;
}

.account-section .card .rating-detail li span {
  color: #e1bb5a;
  font-size: 24px;
}

.account-section .card .rating-detail li:last-child {
  border-right: none;
}

.account-section .card-body {
  padding: 20px 15px;
}
.account-section .card-text {
  height: 60px;
  overflow: hidden;
}


.account-section .card p {
  font-size: 14px;
  color: #6c757d;
}

.account-section .card .price {
  font-weight: 700;
  color: #18506c;
  font-size: 18px;
  margin-bottom: 0;
}

.rank-block {
  margin-bottom: 16px;
}

.rank-block li {
  border-right: 1px solid #d4d2d2;
  padding: 0 22px;
  color: #505050;
  font-size: 14px;
  font-weight: 600;
}

.rank-block li span {
  font-weight: normal;
}

.rank-block li:first-child {
  padding-left: 0;
}

.rank-block li:last-child {
  border-right: none;
}

/* Testmonail */



.testimonial-section {
  padding: 70px 0 50px;
}

.testimonial-section h2 {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.testimonial-section:before {
  content: "";
  height: 280px;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(#3da6da, #195370);
  margin-top: 68px;

}

.testimonial {
  text-align: center;
  margin: 20px 30px 15px;
}

.testimonial .pic {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ffff;
  margin-bottom: 15px;
  overflow: hidden;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonial .description {
  padding: 0 20px 80px;
  font-size: 15px;
  text-align: left;
  color: #fff;
  line-height: 25px;
  border-radius: 25px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
background: #2D80AA;
}
.owl-theme .owl-dots .owl-dot span {
height: 12px !important;
width: 12px !important;
background: #000000;
}
.owl-theme .owl-dots .owl-dot:focus{
  outline: none;
}
.testimonial .title {
  display: block;
  margin: 0;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  color: #263159;
  text-transform: capitalize;
}

.testimonial .post {
  display: block;
  font-size: 17px;
  text-align: left;
  font-weight: 600;
  color: #338fbc;
  text-transform: capitalize;
  margin-top: 0;
}

.owl-theme .owl-controls {
  margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span {

  margin: 5px 4px;
  opacity: 0.8;
  
}
.owl-theme .owl-controls .owl-page span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000000;
  opacity: 0.8;
  margin: 5px 4px !important;
  transition: all 0.3s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #2d80aa !important;
}

.testimonial span {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.owl-carousel .owl-wrapper-outer {
  margin-top: -68px;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

.testimonial-section .owl-theme .owl-controls .owl-buttons div {
  color: #fff;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
}

.testimonial-section .owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}

.testimonial-section .owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.testimonial-section .owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #000;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-item.loading {
  min-height: 150px;
  // background: url(AjaxLoader.gif) no-repeat center center
}

.testimonial-section .owl-item:hover {
  content: "";
  height: 280px;
  top: 68px;
  position: relative;
  background-image: linear-gradient(#bc9647, #ffd664);
}

.testimonial-section .owl-item:hover .testimonial {
  position: relative;
  top: -68px;
}

.testimonial-section .owl-item:hover .title,
.testimonial-section .owl-item:hover .testimonial .post {
  opacity: 1;
}

.testimonial-section .owl-item:before,
.testimonial-section .owl-carousel:before {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 12px solid transparent;
  border-top: 18px solid #fcd364;
  z-index: 9999;
  bottom: -18px;
  left: 46px;
  content: "";
  position: absolute;
}

.testimonial-section .owl-carousel:before {
  display: none;
}

.testimonial-section .owl-item .title,
.testimonial-section .owl-item .testimonial .post {
  opacity: 0;
}

.owl-item.active .title,
.owl-item.active .testimonial .post {
  opacity: 0  ;
}
.owl-item.active  .active  .title,
.owl-item.active .active .post {
  opacity: 1 ;
}
.owl-controls .owl-nav i {
  background: #2d80aa;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  width: 25px;
  border-radius: 50%;
  height: 25px;
}

.owl-controls .owl-nav {
  position: absolute;
  top: 17%;
  width: 100%;
}

.owl-controls .owl-nav .fa-arrow-left {
  left: -38px;
  position: absolute;
}

.owl-controls .owl-nav .fa-arrow-right {
  right: 0px;
  position: absolute;
}

/* Newsletter Section */

.newsletter-section {
  background-image: linear-gradient(#bf9948, #fdd564);
  color: #000;
  padding: 40px 0;
}

.newsletter-section h5 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 24px;
}

.newsletter-section input {
  height: 50px;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  padding: 5px 25px;
  text-transform: uppercase;
  border: none;
}

.newsletter-section .btn-primary {
  background: #29779e;
  font-size: 16px;
  padding: 11px 24px;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */

.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */

.slick-slider {
  padding: 0 40px;
  margin-bottom: 10px !important;
}

.slick-prev::before {
  font-family: FontAwesome !important;
  content: "\f060" !important;
  font-size: 28px !important;
}

.slick-next::before {
  font-family: FontAwesome !important;
  content: "\f061" !important;
  font-size: 28px !important;
}

.slick-next {
  right: 5px !important;
}

.slick-prev {
  left: 5px !important;
}

.slick-arrow {
  display: block;
  background: #2d80aa !important;
  width: 22px !important;
  height: 22px !important;
  padding: 0px !important;
  opacity: 1 !important;
  border-radius: 50%;
}

.slick-next:before,
.slick-prev:before {
  font-size: 12px !important;
  line-height: 1;
  opacity: 1 !important;
  color: #fff !important;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  bottom: 20px;
  color: #d5122f;
  border: 0;
  top: 42% !important;
  background: none;
  z-index: 1;
  color: #fff !important;
}

/* Footer */

.footer {
  background-image: url(../../images/footer-bg.jpg);
  background-size: cover;
  background-position: center;
}
.footer .visa-img{
  margin-left: 11px;
}
.footer .footer-top {
  padding: 40px 0;
}

.footer h5 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  color: #fdd464;
}

.footer p {
  font-size: 14px;
  color: #fff;
}

.footer .footer-top ul li {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}
.footer .footer-top ul li:hover{
  cursor: pointer;
}
.footer .footer-top ul a span {
  color: #fdd464;
  font-size: 10px;
  margin-right: 5px;
}

.footer .footer-top a {
  color: #fff;
  font-size: 13px;
}

.footer .footer-top a:hover {
  color: #fdd464;
}

.footer .footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 22px;
  padding-bottom: 24px;}

.footer-bottom p {
  margin-bottom: 0;
}

.footer-bottom .social-icon li {
  display: inline-block;
  padding: 0 3px;
}

.footer-bottom .social-icon li a {
  width: 30px;
  height: 30px;
  display: block;
  line-height: 28px;
  color: #fff;
  border: 1px solid #4c4a4a;
  background: #231f20;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 2px;

}

.footer-bottom .social-icon li a:hover {
  background: #fdd464;
  cursor: pointer;
}
/* Seller Account */

// .ps-header-use {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   background-color: #fff;
//   position: relative;
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.01);
// }
// .st-inner {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
// .st-cnt {
//   display: block;
//   box-sizing: border-box;
//   max-width: 1220px;
//   padding: 0 25px;
//   margin: 0 auto;
// }
// .pt-user-backend-header {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   background-color: #fff;
// }
// .inner {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
// .cnt-cols {
//   display: flex;
//   flex-wrap: nowrap;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: stretch;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
// .col-left {
//   order: 0;
//   flex-grow: 0;
//   display: block;
//   box-sizing: border-box;
//   max-width: 240px;
//   min-width: 240px;
//   padding: 0;
//   margin: 0;
// }
// .avatar {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   position: relative;
//   top: 30px;
// }
// .wrap-image {
//   display: block;
//   box-sizing: border-box;
//   width: 100%;
//   max-width: 250px;
//   max-height: 250px;
//   line-height: 0;
//   padding: 0;
//   margin: 0;
//   box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
//   position: absolute;
//   left: 0;
//   top: 0;
// }
// .col-right {
//   order: 1;
//   flex-grow: 1;
//   display: block;
//   box-sizing: border-box;
//   padding: 30px 0 0;
//   margin: 0;
// }
// .part-details {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-start;
//   box-sizing: border-box;
//   padding: 0 0 40px 30px;
//   margin: 0;
// }
// .col-details-user {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
// .wrap-name {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0 0 20px;
// }
// .wrap-name .name {
//   display: block;
//   box-sizing: border-box;
//   font-size: 35px;
//   font-weight: 500;
//   line-height: 100%;
//   text-align: left;
//   color: #000;
//   padding: 0;
//   margin: 0;
// }
// .list-info {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0 0 10px;
//   list-style-type: none;
// }
// .item {
//   display: block;
//   box-sizing: border-box;
//   font-size: 14px;
//   font-weight: 600;
//   line-height: 18px;
//   text-align: left;
//   color: #9494a4;
//   padding: 0 12px 0 0;
//   margin: 0 12px 0 0;
//   border-right: 1px solid #eaeaed;
//   float: left;
// }
// .cnt {
//   text-transform: uppercase;
//   padding-left: 25px;
//   display: inline-block;
//   box-sizing: border-box;
//   padding: 0;
//   padding-left: 0px;
//   margin: 0;
//   position: relative;
// }
// .cnt:after {
//   content: "";
//   display: block;
//   width: 18px;
//   height: 18px;
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   //background-image: url(../images/svg/discord_purple.svg);
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .list-info-extra {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   list-style-type: none;
// }
// .part-manu {
//   display: block;
//   box-sizing: border-box;
//   padding: 0 0 0 30px;
//   margin: 0;
// }
// .wrap-menu {
//   display: block;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   border-top: 1px solid #eaeaed;
// }
// .menu {
//   display: flex;
//   flex-wrap: nowrap;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: stretch;
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0 -5px;
//   list-style-type: none;
// }
.sell-account-form {
  max-width: 1170px;
  margin: 0 auto;
  box-shadow: 0 0 15px #0000001c;
  padding: 50px 60px 70px;
  margin-bottom: 50px;
  background: #fff;
}
.sell-account-form .form-control {
  border-radius: 0;
  height: 50px;
  padding: 10px 15px;
  font-size: 14px;
  color: #9494a4;
}
.sell-account-form label {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  color: #50505a;
  padding: 0;
  margin: 17px 2px 10px;
}
.sell-account-form .invaliderror {
  margin-left: 3px;
  font-size: 14px;
  color: red;
  position: absolute;
  margin-top: -3px;
  right: 18px;
}
.sell-account-form h2 {
  font-family: "Playfair Display", serif;
  font-size: 47px;
  margin-bottom: 40px;
  color: #18506c;
  font-weight: 600;
}
.sell-account-form h6 {
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  color: #5e21e5;
  padding: 5px 35px 6px 6px;
  margin: 0;
  border-bottom: 1px solid #5e21e5;
}

.sell-account-form .form-control:focus {
  border: none;
}
.sell-account-form ul.list {
  display: block;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  margin: 0;
  list-style-type: none;
}
.sell-account-form ul.list li.item {
  display: block;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  margin: 0 0 12px;
  position: relative;
}
.sell-account-form ul.list li.item::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 0;
  background-color: #5b51eb;
  position: absolute;
  left: 0;
  top: 7px;
}
.sell-account-form .block-name {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 20px;
}
.sell-account-form .extra-options {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 20px 0 0;
  margin: 0 0 30px;
}
.sell-account-form .list-checkbox {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.checkboxClass {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #9494a4;
  padding: 0;
  margin: 0 0 12px;
}
.checkboxClass label {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  cursor: pointer;
  position: relative;
  height: 15px;
  width: 15px;
}

.checkboxClass label::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #bdc3c7;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  bottom: 0;
  background-image: none;
  background-position: center center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.checkboxClass input[type="checkbox"] {
  visibility: hidden;
}
// .checkboxClass input[type='checkbox']:checked + label{
//   position: relative;
//   font-family: 'FontAwesome';
//   top: 0;
//   left: 0px;
//   height: 15px;
//   width: 15px;
//   content: "\f005";
// }
.checkIcon {
  position: absolute;
  left: 30px;
  cursor: pointer;
}
.checkIcon1 {
  position: absolute;
  left: 15px;
  cursor: pointer;
}
.heading6 {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  padding: 0;
  margin: 0 0 8px;
}
.table-class {
  border-collapse: collapse;
}
.table-header:nth-child(1) {
  text-transform: none;
  border-right: 1px solid #ddd;
  padding-right: 10px;
  padding-left: 0;
}
.table-row:nth-child(1) {
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  color: grey;
  vertical-align: center;
  padding-right: 10px;
  padding-left: 0;
  border-right: 1px solid #ddd;
}
.table-row {
  padding: 5px;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
}
.table-row input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;
  height: 45px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #9494a4;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  background-color: #f1f1f3;
  outline: 0;
  -webkit-appearance: none;
}
.table-header {
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  padding: 5px 5px 10px 10px;
  padding-right: 5px;
  padding-left: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
.bulk-mode {
  display: block;
  box-sizing: border-box;
  padding: 15px 0 0;
  margin: 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.sell-account-form .fx-checkbox {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #9494a4;
  padding: 0;
  margin: 0 0 12px;
  user-select: none;
}
.sell-account-form .fx-checkbox label {
  display: inline-block;
  white-space: nowrap;
  padding: 0 0 0 26px;
  margin: 0;
  cursor: pointer;
  position: relative;
}
.sell-account-form .fx-checkbox {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #9494a4;
}
.sell-account-form .fx-checkbox label::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #bdc3c7;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: none;
  background-position: center center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}
.sell-account-form .fx-checkbox input {
  display: none;
}
.sell-account-form .switch-account-btn {
  width: 50%;
  background: white;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #606060;
  padding: 0 25px;
  margin: 0;
  transition: all 0.2s ease;
  border-bottom: 2px solid #bbb;
  height: 45.5px;
}
.sell-account-form .switch-account-btn:focus {
  outline: none;
}
.sell-account-form .select-selling-method {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0 12px;
  margin: 0;
}
.sell-account-form .title {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  color: #5e20e5;
  padding: 0;
  margin: 0;
  cursor: default;
}
.sell-account-form .switch-account-btn-active {
  color: #5e20e5;
  border-top: 2px solid #aa8cea;
  border-right: 2px solid #aa8cea;
  border-left: 2px solid #aa8cea;
  border-bottom: 2px solid #aa8cea;
  background-color: #f9f6ff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.sell-account-form .switch-account-btn:active {
  color: #5e20e5;
  border-top: 2px solid #aa8cea;
  border-right: 2px solid #aa8cea;
  border-left: 2px solid #aa8cea;
  border-bottom: 2px solid #aa8cea;
  background-color: #f9f6ff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.sell-account-form textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 120px;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #9494a4;
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #ced4da;

  outline: 0;
  resize: vertical;
}
.btn-action {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
  margin: 0;
  background-color: #5e20e5;
  border-radius: 3px;
  border: none;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.sell-bt {
  display: block;
  box-sizing: border-box;
  max-width: 260px;
  text-align: center;
  padding: 30px 0 0;
  margin: 0 auto;
}
.btn-action:hover{
      background: #F6CF63;
      color: black;

}
.sell-bt :focus{
  outline: none;
  opacity: 0.9;
}
.sell-account-form .form-control {
  border-radius: 0;
  height: 50px;
  padding: 10px 15px;
  font-size: 14px;
}

.sell-account-form .form-control:focus {
  border: 1px solid #f6cf63;
}

.sell-account-form .btn-primary {
  border-radius: 0;
  text-transform: uppercase;
  height: 50px;
}

.sell-account-form label {
  text-transform: uppercase;
  font-size: 14px;
}

.sell-account-form ul {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.sell-account-form ul img {
  max-width: 110px;
}

.sell-account-form .btn-fb {
  padding: 5px 30px;
  background: #3b5cb4;
  border-radius: 5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sell-account-form .btn-fb:hover {
  background: #2a4eae;
  border: 1px solid #2a4eae;
}

.sell-account-form .btn-fb:hover,
.sell-account-form .btn-fb:focus {
  color: #fff;
}

.sell-account-form .btn-fb i {
  font-size: 30px;
  margin-right: 15px;
}

.sell-account-form a {
  color: #5869ff;
  text-decoration: underline;
}

.sell-account-form a:hover {
  color: #f6cf63;
}

.sell-account-form p,
.sell-account-form a {
  font-size: 14px;
}

.sell-account-form .forgot-pw {
  color: #6e6e6e;
}

.sell-account-form .forgot-pw i {
  color: #2d80aa;
}

/* User Account */

.user-section {
  padding-bottom: 30px;
  top: -165px;
  position: relative;
}

.user-section h4 {
  color: #000;
  font-weight: 600;
  margin-bottom: 30px;
}

.user-account h2 {
  font-family: "Playfair Display", serif;
  font-size: 47px;
  margin-bottom: 40px;
  color: #18506c;
  font-weight: 600;
}
.user-account .invaliderror{
  right: 28%;
  font-size: 14px;
  margin: 5px;
  color: red;
  position: absolute;
  text-align: right;
  margin-top: 0px;

}

.user-account .form-control {
  border-radius: 0;
  height: 50px;
  padding: 10px 15px;
  font-size: 14px;
}

.user-account .form-control:focus {
  border: 1px solid #f6cf63;
}

.user-account {
  max-width: 620px;
  margin: 0 auto;
  box-shadow: 0 0 15px #0000001c;
  padding: 50px 60px 70px;
  margin-bottom: 50px;
  background: #fff;
}

.user-account .btn-primary {
  border-radius: 0;
  text-transform: uppercase;
  height: 50px;
}

.user-account label {
  text-transform: uppercase;
  font-size: 14px;
}

.user-section ul {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.user-section ul img {
  max-width: 110px;
}

.user-section .btn-fb {
  padding: 5px 30px;
  background: #3b5cb4;
  border-radius: 5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-section .btn-fb:hover {
  background: #2a4eae;
  border: 1px solid #2a4eae;
}

.user-section .btn-fb:hover,
.user-section .btn-fb:focus {
  color: #fff;
}

.user-section .btn-fb i {
  font-size: 30px;
  margin-right: 15px;
}

.user-account a {
  color: #5869ff;
  text-decoration: underline;
}

.user-account a:hover {
  color: #f6cf63;
}

.user-account p,
.user-account a {
  font-size: 14px;
}

.user-account .forgot-pw {
  color: #6e6e6e;
}

.user-account .forgot-pw i {
  color: #2d80aa;
}

.custom-select {
  position: relative;
  padding: 0;
  height: 50px !important;
  border-radius: 0 !important;
  font-family: Arial;
  color: #9494a4;
  padding: 13px 16px;
 
  cursor: pointer;
  border-radius: 0;
  user-select: none;
  font-size: 14px;
}



.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2d80aa transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #2d80aa transparent;
  top: 14px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #9494a4;
  padding: 13px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 0;
  user-select: none;
  font-size: 14px;
}

.select-selected {
  border-bottom: 0;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  height: 253px;
  border: 1px solid #b4afaf;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  // background-color: rgb(18 17 17 / 6%);
  color: #222;
}

.custom-check {
  display: block;
  margin-bottom: 15px;
}

.custom-check input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.custom-check label {
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 16px;
}

.custom-check label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #c1c1c1;
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 8px;
}

.custom-check input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 8px;
  width: 5px;
  height: 11px;
  border: solid #2d80aa;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Market Place */

.search-filter {
  padding: 50px 0 0;
}

.search-filter .card {
  border-radius: 0;
  box-shadow: 0px 4px 20px #645f5f26;
  border: none;
  border-top: 3px solid #c3c3c3;
}

.search-filter .card .card-body {
  padding: 20px 50px;
}

.search-filter .card label {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

.search-filter .card .form-control {
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  height: 45px;
}

.search-filter .nav-pills .nav-link {
  border-radius: 0;
  background: #e7e7e7;
  font-weight: 600;
  border-right: 2px solid #d4d4d4;
  color: #001b29;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #001b29;
  color: #fff;
}

.search-filter .nav-pills .nav-item:last-child .nav-link {
  border-right: none;
}

.cart-section {
  margin-top: -64px;
}

.cart-section .card {
  background: #f6cf63;
  color: #04293c;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 6px 10px #0000000f;
}

.cart-section .card:hover {
  background: #eec041;
}

.cart-section .card.sell-block {
  background: #2d80aa;
  color: #fff;
}

.cart-section .card.sell-block:hover {
  background: #176891;
}

.cart-section .card-body {
  padding: 25px 40px;
  
}

.cart-section .card-body h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-menu {
  background: #001b29cf;
  padding: 0px;
  left: 24px;
  border-radius: 0;
  width: 200px;
  margin-top: 0px;
}

.dropdown-item {
  color: #fff !important;
  border-bottom: 1px solid #ffffff47 !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  padding: 8px 15px !important;
  font-size: 12px !important;
}

.dropdown-item:last-child {
  border-bottom: 0;
}
.last-dropdown-item{
  border-bottom: 0 !important;
}
.dropdown-item:hover {
  background: #f6cf63;
}

.navbar-center .nav-item a:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #f6cf63;
  padding: 0;
  margin: 0;
  transition: all 0.15s 0.2s ease-out;
  pointer-events: none;
}

.navbar-center .nav-item a:hover:before {
  width: 100%;
  left: 0;
}

.navbar-nav .dropdown-menu a:before {
  display: none;
}

.slider-box {
  padding: 0 10px 0px 15px;
  text-align: center;
}
.slider-box label,
.slider-box input {
  border: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  font-size: 13px;
  margin-top: -18px;
}
.slider-box label {
  margin-top: 0;
  top: 21px;
  position: relative;
}

.slider-box input {
  margin-right: -95px;
}

/*input {width: 70%}*/
.slider {
  margin: 20px 0;
}

.ui-widget-content,
.ui-widget-header {
  border: 1px solid #2d80aa;
  border-radius: 0px !important;
  outline: none;
  background: #2d80aa !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: #f6cf63 !important;
  background: #f6cf63 !important;
  outline: none;
  box-shadow: none;
  border-radius: 0px !important;
}

 

/* Responsive media query */

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .newsletter-section input {
    width: 500px !important;
  }

  .search-filter .col-lg-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .search-filter .col-md-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (max-width: 991px) {
  header .navbar-light .navbar-nav .nav-item {
    padding: 0;
    border-bottom: 1px solid #fefefe91 !important;
  }
  header .navbar-light .navbar-nav .nav-item:last-child {
    border-bottom: none !important;
  }
  header .navbar-light .navbar-nav.navbar-center .active > .nav-link,
  header .navbar-light .navbar-nav.navbar-center .nav-item:hover .nav-link {
    padding: 10px 0px 10px;
  }
  header .navbar-light .navbar-nav .nav-link {
    padding: 10px 0px 10px;
  }
  header .navbar-nav {
    margin: 10px 0 !important;
  }
  header .navbar.navbar-expand-lg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    background: #001b29;
  }
}

@media (max-width: 767px) {
  .footer h5 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  .carousel-wrap {
    margin: 0px auto;
  }
  .footer {
    background-size: auto;
  }
  .footer p {
    font-size: 12px;
  }
  .footer .footer-top {
    padding: 40px 60px;
  }
  .history-section h3 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  .history-section {
    background-image: linear-gradient(0deg, #18313cc7, #18313c8c), url(../../images/history-xs.png);
    padding: 60px 0;
  }
  .owl-item.active {
    background: transparent;
  }
  .testimonial-section .owl-item .title,
  .testimonial-section .owl-item .testimonial .post {
    opacity: 1;
  }
  .testimonial-section .owl-item.active .testimonial {
    position: relative;
  }
  .testimonial-section .owl-item:hover {
    background: transparent;
  }
  .testimonial {
    padding: 0;
  }
  .testimonial .description {
    padding: 0 5px 40px;
  }
  .owl-carousel .owl-wrapper-outer {
    margin-top: 0;
  }
  .banner-section {
    height: auto;
    padding: 80px 0;
  }
  .account-section {
    padding: 50px 0;
  }
  .testimonial .fa-quote-left {
    display: none !important;
  }
  .testimonial-section:before {
    content: "";
    height: 360px;
    margin-top: 0px;
  }
  .testimonial-section .testimonial .title {
    margin-top: 45px;
  }
  .testimonial-section .owl-item.active:before {
    display: none;
  }
  .testimonial-section .owl-carousel:before {
    display: block;
    border-top: 18px solid #1a5674;
    bottom: 109px;
  }
  .testimonial-section {
    padding: 30px 0 50px;
  }
  header .navbar-light .navbar-nav.navbar-center .active > .nav-link,
  header .navbar-light .navbar-nav .nav-item:hover .nav-link {
    border-bottom: 0;
  }
  .navbar-light .navbar-toggler:focus {
    outline: none;
  }
  .user-section {
    padding-bottom: 30px;
    top: -60px;
  }

  .custom-check {
    display: block;
    margin-bottom: 10px;
  }

  .user-account .form-control {
    height: 45px;
  }

  .user-account .btn-primary {
    height: 45px;
  }

  .search-filter .card .card-body {
    padding: 20px 20px;
  }

  .cart-section {
    margin-top: 0;
  }

  .cart-section .card {
    border-radius: 0px;
  }

  .cart-section .card-body h3 {
    font-size: 18px;
  }

  .cart-section .col-md-6 {
    padding: 0;
  }

  .search-filter .nav-pills .nav-link {
    font-weight: 600;
    border-right: 1px solid #d4d4d4;
    text-transform: uppercase;
    font-size: 16px;
    min-height: 65px;
    line-height: 19px;
    letter-spacing: 0.2px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .search-filter .nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1;
  }

  .cart-section .card-body img {
    width: 40px;
  }
}

@media (max-width: 575px) {
  .newsletter-section h5 {
    font-size: 18px;
  }
  .newsletter-section {
    padding: 30px 0;
  }
  .newsletter-section input {
    height: 40px;
    font-size: 13px;
    padding: 5px 15px;
  }
  .newsletter-section .btn-primary {
    font-size: 12px;
    padding: 10px 20px;
    color: #fff;
  }
  .history-section ul li p {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .history-section ul li h5 {
    font-weight: 700;
    font-size: 26px;
  }
  .account-section h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .history-section ul {
    padding: 0px 20px;
    align-items: center;
    grid-gap: 25px 20px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .banner-section h1 {
    font-size: 32px;
    line-height: 40px;
    margin-left: 0px;
  }
  .banner-section p {
    margin-left: 0px;
}
  .banner-section h1 span {
    font-size: 58px;
  }
  .our-services h2 {
    font-size: 34px;
    margin-bottom: 0;
  }
  .our-services {
    padding: 50px 0;
  }
  .our-services .service-block-icon {
    margin: 20px auto;
  }
  .social-icon {
    margin-top: 10px;
  }

  .user-account {
    padding: 40px 20px 40px;
    margin-bottom: 35px;
    border: 1px solid #e6e3e3;
  }

  .user-account h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .user-section h4 {
    font-size: 22px;
  }

  .user-section ul {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }

  .user-section ul img {
    max-width: 80px;
  }

  .user-section ul li {
    justify-self: center;
  }

  .user-account label {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .sell-account-form {
    padding: 40px 20px 40px;
    margin-bottom: 35px;
    border: 1px solid #e6e3e3;
  }

  .sell-account-form h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .sell-account-form h4 {
    font-size: 22px;
  }

  .sell-account-form ul {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }

  .sell-account-form ul img {
    max-width: 80px;
  }

  .sell-account-form ul li {
    justify-self: center;
  }

  .sell-account-form label {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .sell-account-form .switch-account-btn {
    width: 50%;
   
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
    padding: 0 15px;
    margin: 0;
    height: 45.5px;
}

  .custom-check input:checked + label:after {
    top: 4px;
  }

  .cart-section .card-body {
    padding: 25px 20px;
  }

  .cart-section .card-body h3 {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .testimonial-section .owl-carousel:before {
    bottom: 134px;
  }
  .testimonial {
    text-align: center;
    margin: 20px 10px 15px;
  }
  header img {
    max-width: 128px;
  }

  .user-account h2 {
    font-size: 30px;
  }

  .search-filter .nav-pills .nav-link {
    font-weight: 600;
    border-right: 1px solid #d4d4d4;
    text-transform: uppercase;
    font-size: 13px;
    min-height: 55px;
    line-height: 17px;
    justify-content: center;
    padding: 5px 7px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
  }

  .search-filter .card {
    border-top: 2px solid #c3c3c3;
  }

  .slider-box input {
    margin-right: -94px;
  }
}


